<style>

	.center-grey {
  background: #f2f2f2;
}
.slider {
  position: relative;
  padding: 5px;
  margin: auto;
  
}
.slide {
  position: absolute;
  top: 0;
  left: 0;  width :100%; height:500px;
}
.arrows {
  
	position: relative;
    display: flex;
    justify-content: center;
    top: 440px;

}

h1 {
  text-align: center;
  padding: 10px;
  font-size: 40px;
  color: #222;
}
.slide.ng-hide-add,
.slide.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block!important;
}
.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
  opacity: 0;
}
.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
</style> 
<div  slide images='images'></div> 
<div class="general_social_icons">
	<nav class="social">
		<ul>
			<li class="w3_twitter">
				<a href="#">Twitter
					<i class="fa fa-twitter"></i>
				</a>
			</li>
			<li class="w3_facebook">
				<a href="#">Facebook
					<i class="fa fa-facebook"></i>
				</a>
			</li>
		</ul>
	</nav>
</div>
<!-- general -->
<div class="general" style="position: relative;top: 470px;">

	<!--h4 class="latest-text w3_latest_text">Featured Movies</h4-->
	<div class="container">
		<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
			<ul id="myTab" class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Featured</a>
				</li>
				<li role="presentation">
					<a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Top viewed</a>
				</li>
				<li role="presentation">
					<a href="#rating" id="rating-tab" role="tab" data-toggle="tab" aria-controls="rating" aria-expanded="true">Top Rating</a>
				</li>
				<li role="presentation">
					<a href="#imdb" role="tab" id="imdb-tab" data-toggle="tab" aria-controls="imdb" aria-expanded="false">Recently Added</a>
				</li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab" ng-if="loaded">
					<div ng-if="!loaded"><i class="fa fa-spinner fa-spin"></i></div>
					<div class="w3_agile_featured_movies"> <!-- href="#single"-->
						<div class="col-md-2 w3l-movie-gride-agile" ng-repeat="movie in sub_movies">
							<a ng-click="showMovie(movie)"  class="hvr-shutter-out-horizontal">
								<img ng-src="{{movie.image_url}}" ng-attr-title="{{movie.title}}"  class="img-responsive"  ng-attr-alt="{{movie.title}}" />
								<div class="w3l-action-icon">
									<i class="fa fa-play-circle" aria-hidden="true"></i>
								</div>
							</a>
							<div class="mid-1 agileits_w3layouts_mid_1_home">
								<div class="w3l-movie-text">
									<h6>
										<a ng-href="{{movie.video_url}}">{{movie.title}}</a>
									</h6>
								</div>
								<div class="mid-2 agile_mid_2_home">
									<p>{{movie.year}}</p>
									<div class="block-stars">
										<ul class="w3l-ratings">
											<li>
												<a href="#">
													<i class="fa fa-star" aria-hidden="true"></i>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-star" aria-hidden="true"></i>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-star" aria-hidden="true"></i>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-star" aria-hidden="true"></i>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-star-half-o" aria-hidden="true"></i>
												</a>
											</li>
										</ul>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="ribben" ng-if="movie.is_new">
								<p>NEW</p>
							</div>
						</div> 
						<div class="clearfix"> </div>
					</div>
				</div> 
			</div>
		</div>
	</div>
</div>